<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
 <title>Example Web App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap requirements -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
  <!--local page scripts-->
  <script src="script.js"></script>
  <script src="keys.js"></script>
  <!--Parse-->
  <script src="http://www.parsecdn.com/js/parse-latest.js"></script>



</head>
<body>


<div class="container" ng-controller="main">
  <h2>Example App</h2>
  <ul class="nav nav-tabs">
    <li role="presentation"><a data-toggle="tab" href="#userlist">User List</a></li> 
    <li role="presentation"><a data-toggle="tab" href="#print">Print Text</a></li> 
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        Account <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a data-toggle="tab" href="#login">Login</a></li>
        <li><a data-toggle="tab" href="#logout">Logout</a></li>
        <li role="separator" class="divider"></li>
        <li ng-show="isUser()"><a>Welcome {{username}}!</a></li>
        <li ng-hide="isUser()"><a>Not Logged In</a></li>
      </ul>
    </li>
  </ul>
  <div class="tab-content">
    <div id="userlist" class="tab-pane fade" ng-controller="userlist">
      <h1> User List </h1>
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="print" class="tab-pane fade" ng-controller="print">
      <!--code goes here-->
    </div>
    
    <div id="login" class="tab-pane fade in active" ng-controller="login">
      <form role="form" ng-submit="login()">
        <h2 class="form-signin-heading">Sign in</h2>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="sr-only" for="username">Username</label>
            <input type="username" class="form-control" id="username" placeholder="Enter username" ng-model="user.username">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
          <label class="sr-only" for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
      <br>
      <div class="row">
        <div class="col-md-6">
          <button data-toggle="tab" class="btn btn-success " href="#signup">Signup</button>
          <button data-toggle="tab" class="btn btn-default " href="#reset">Forgot Password</button>
        </div>
      </div>
    </div>

    <div id="signup" class="tab-pane fade" ng-controller="signUp">
      <form role="form">
        <h2 class="form-signup-heading">Signup</h2>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="sr-only" for="username">Username:</label>
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="user.username">
          </div>
        </div>
        <div class="row form-group" >
          <div class="col-md-6">
            <label class="sr-only" for="name">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Name" ng-model="user.name">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="sr-only" for="email">Email address:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="user.email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
            <label class="sr-only" for="pwd">Desired Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="user.password">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 form-group">
          <label class="sr-only" for="pwd">Reenter Password</label>
          <input type="password" class="form-control" id="pwd2" placeholder="Reenter password" ng-model="user.password2">
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-primary" ng-click="signUp()">Register</button>
      </form>
   </div>

    <div id="reset" class="tab-pane fade" ng-controller="reset">
      <h3>Reset password</h3>
      <p>Please provide your email so we may send you password reset instructions</p>
      <div class="row">
        <div class="col-md-6 form-group">
          <label class="sr-only" for="email">Email address:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="email">
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-primary" ng-click="resetPassword()">Submit</button>
    </div>
    <div id="logout" class="tab-pane fade" ng-controller="logout">
      <button type="submit" class="btn btn-default btn-primary" ng-click="logout()">Logout</button>
    </div>
  </div>
</div>

</body>
</html>
